<%- include('includes/head.ejs')%>

<body>
    <%- include('includes/nav.ejs')%>
    <main class="container mt-6 has-text-centered">
        Page not found!!!
    </main>

<%- include('includes/end.ejs')%>